.App {
  text-align: center;
 
  
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Croquis{
  border:solid red 3px;
  margin: 100px;
  height: 400px;
}
 .EdificioG {
   width: 200px;
   height: 100px;
   background: whitesmoke;
   border: solid green 2px;
   position: absolute;
   top:100px;
   left:120px;

 }
 .Cafeteria{
   width: 120px;
   height: 60px;
   background: whitesmoke;
   border: solid green 2px;
   border-radius: 10px 10px 80px 80px;
   position: absolute;
   top:10px;
   left:450px;
 }

 .EdificioD{
  
  width: 305px;
  height: 80px;
  background: whitesmoke;
  border: solid lightgray 2px;
  position: absolute;
  top:80px;
  left:650px;
 }

 .Salones{
   width: 60px;
   height: 80px;
   float: left;
   border:solid green .5px;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;

 }

 .Escaleras{
  width: 60px;
  height: 80px;
  float: left;
  /* border-width: .5px .5px 0 .5px; 
  border:solid black; */
  border-style: solid;
  border-color: green;
  border-width: .5px;
  border-bottom:transparent;

 }

.EdificioC{
  width: 367px;
  height: 80px;
  background: whitesmoke;
  border: solid lightgray 2px;
  position: absolute;
  top:250px;
  left:750px;

}
.SalonesB{
  width: 120px;
  height: 60px;
  border:solid green .5px;
}
.Baños{
  width: 120px;
  height: 40px;
  border:solid green .5px;
}
.EdificioB{
  width: 120px;
  height: 205px;
  background: whitesmoke;
  border: solid lightgray 2px;
  position: absolute;
  top:130px;
  left:380px;
}
.EdificioE{
  width: 305px;
  height: 80px;
  background: whitesmoke;
  border: solid lightgray 2px;
  position: absolute;
  top:420px;
  left:305px;
}
.EdificioM{
  width: 243px;
  height: 80px;
  background: whitesmoke;
  border: solid lightgray 2px;
  position: absolute;
  top:620px;
  left:305px;
}
.SalonesM{
  width: 80px;
  height: 80px;
  float: left;
   border:solid green .5px;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}